.appWrapper{
  display: flex;
  background-color: rgb(87,165,23);
  background-size: cover; 
 
}

.pokedexBorder {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 750px;
    height: 710px;
    padding-left: 0px;
    
    background-color: rgb(231, 9, 9);
    border-radius: 10px;
    box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
  }

  .listWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
    width: 40%;
    height: 100%;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(231, 9, 9);
    border-width: 20px;
    background-color: #BFF9FF;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
  }

  .detailView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 10px;
    background-color: #ff1313cc;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  .battleBorder{
    width: 100%;
    background-color: rgb(161, 240, 210);

  }
 